{% extends 'base.html.twig' %}

{% block title %}{{ recipe_name }}{% endblock %}

{% block body %}


<div class="wrapper">
    <h1>{{ recipe_name }}</h1>
    <image class="recipe_hero" src="{{ recipe_image }}"></image>
    <h4>Servings: {{ recipe_servings }} servings</h4>
    {# {{recipe_ingredients}} #}
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in recipe_ingredients %}
            <li>{{ ingredient|raw }}</li>
        {% endfor %}
    </ul>
    <h2>Steps</h2> 
    <ol>
        {% for step in recipe_steps %}
            <li>{{ step }}</li><br>
        {% endfor %}
    </ol>
  
</div>
{% endblock %}
